.readonly-datepicker {
  -fx-opacity: 0.9;
}

.readonly-datepicker .arrow-button {
  -fx-opacity: 0.5;
}

.readonly-datepicker .text-field {
  -fx-background-color: #f8f8f8;
  -fx-border-color: #cccccc;
}
